*
{
	margin: 0px;
	padding: 0px;
}

::-moz-selection 
{
    color: #ffffff;
    background: #800080;
}

::selection
{
    color: #ffffff;
    background: #800080;
}

@font-face 
{
	font-family: lato;
	src: url(assets/fonts/lato.ttf);
}

@font-face 
{
	font-family: propaganda;
	src: url(assets/fonts/propaganda.ttf);
}

@font-face
{
	font-family: montserrat;
	src: url(assets/fonts/montserrat.ttf);
}

@font-face
{
	font-family: oxygen;
	src: url(assets/fonts/oxygen.ttf);
}

html
{
	width: 100%;
	height: 100%;
}

a
{
	outline: none;
}

body
{
	font-family: lato;
	font-size: 16px;
	background: url("assets/img/bg.png");
}

#banner
{
	cursor: pointer;
	display: block;
	position: relative;
	width: 100%;
	line-height: 15vw;
	height: 15vw;
	background: url("assets/img/banner_bg.png") #000000;
	background-size: 100%;
	font-size: 30px;
    font-size: 8vw;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0px 0px 2px #ffffff;
	transition: text-shadow 0.5s;
}

#banner:hover
{
	text-decoration: none;
	text-shadow: 0px 0px 20px #000000;
}

#menu
{
	display: block;
	position: relative;
	width: 100%;
	height: 3vw;
	background: #222222;
	text-align: center;
}

.manuel
{
	cursor: pointer;
	display: inline-block;
	position: relative;
	width: 15%;
	height: 3vw;
	line-height: 3vw;
	margin-left: 0%;
	margin-right: 0%;
	vertical-align: top;
	background-color: #222222;
	color: #ffffff;
	font-size: 1.5vw;
	text-shadow: 0px 0px 0px #ffffff;
	text-decoration: none;
	transition: color 0.4s, background-color 0.4s, text-shadow 0.4s;
}

.manuel:hover
{
	color: #800080;
	background-color: #fafafa;
	text-decoration: none;
	text-shadow: 0px 0px 2px #808080;
}

#active
{
	color: #800080;
	background-color: #fafafa;
}

#body
{
	display: block;
	position: relative;
	width: 90%;
	margin-top: 2vw;
	margin-left: auto;
	margin-right: auto;
}

.clique
{
	display: block;
	position: relative;
	width: 50vw;
	height: 4vw;
	line-height: 4vw;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 2.8vw;
}

.claque
{
	display: inline-block;
	position: relative;
	width: 50%;
	height: 100%;
	line-height: 4vw;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 2.8vw;
}

#youtube
{
	background: #dd2825;
	color: #ffffff;
	margin-top: 3vw;
	text-decoration: none;
	text-shadow: 0px 0px 1px #ffffff;
	transition: border 0.4s, background-color 0.4s, font-size 0.4s, text-shadow 0.4s;
}

.twitter
{
	background: #3397dd;
	text-decoration: none;
	color: #ffffff;
	vertical-align: top;
	text-shadow: 0px 0px 1px #ffffff;
	transition: border 0.4s, background-color 0.4s, font-size 0.4s, text-shadow 0.4s;
}


#hitbox
{
	background: #ace600;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0px 0px 1px #ffffff;
	transition: border 0.4s, background-color 0.4s, font-size 0.4s, text-shadow 0.4s;
}

#bitbucket
{
	background: #205081;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0px 0px 1px #ffffff;
	transition: border 0.4s, background-color 0.4s, font-size 0.4s, text-shadow 0.4s;
}

#circonsci
{
	background: #ff8000;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0px 0px 1px #ffffff;
	transition: border 0.4s, background-color 0.4s, font-size 0.4s, text-shadow 0.4s;
}

#youtube:hover, .twitter:hover, #hitbox:hover, #bitbucket:hover, #circonsci:hover
{
	cursor: pointer;
	background: #800080;
	font-size: 3.2vw;
	text-shadow: 0px 0px 3px #ffffff;
	text-decoration: none;
}

#titre
{
	cursor: default;
	display: block;
	position: relative;
	width: 70%;
	height: 4vw;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 2px solid #000000;
	text-align: center;
	text-shadow: 0px 0px 2px #ffffff;
	font-size: 3vw;
	color: #ffffff;
}

#texte
{
	display: block;
	position: relative;
	width: 65%;
	margin-top: 0.5vw;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	font-family: montserrat;
	font-size: 1.1vw;
	color: #ffffff;
}

#emperor
{
	text-shadow: 0px 0px 5px #800080;
}

#supercirconsci
{
	text-shadow: 0px 0px 5px #ff8000;
}

#superyoutube
{
	text-shadow: 0px 0px 5px #dd2825;
}

#applebarn
{
	text-shadow: 0px 0px 5px #ffbe64;
}

#emperor, #supercirconsci, #superyoutube, #applebarn
{
	text-decoration: none;
	color: #ffffff;
	transition: color 0.4s, text-shadow 0.4s;
}

#emperor:hover, #supercirconsci:hover, #superyoutube:hover, #applebarn:hover
{
	text-decoration: none;
}

#supercirconsci:hover, #superyoutube:hover, #applebarn:hover
{
	text-shadow: 0px 0px 5px #ffffff;
}

.incredible
{
	display: block;
	position: relative;
	width: 50vw;
	height: 3vw;
	line-height: 3vw;
	margin-top: 0.5vw;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 2vw;
	text-decoration: none;
	transition: color 0.4s, background 0.4s;
}

#ariusd
{
	background: #941914;
	color: #ffffff;
}

#campagneee
{
	background: #005b96;
	color: #ffffff;
}

#kiway
{
	background: #333333;
	color: #000000;
}

#spotification
{
	background: #4da2e0;
	color: #ffffff;
}

#ariusd:hover, #campagneee:hover, #kiway:hover, #spotification:hover
{
	background: #ffffff;
	color: #800080;
}

#textemail
{
	display: block;
	position: relative;
	width: 65%;
	margin-top: 0.5vw;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: montserrat;
	font-size: 1.3vw;
	color: #ffffff;
}

#textemail a
{
	color: #800080;
	text-decoration: none;
	text-shadow: 0px 0px 2px #000000;
	transition: color 0.4s;
}

#textemail a:hover
{
	color: #ffffff;
}