* {
	margin: 0px;
	padding: 0px;
}

::-moz-selection  {
    color: #ffffff;
    background: #1a75d3;
}

::selection {
    color: #ffffff;
    background: #1a75d3;
}

@font-face {
	font-family: corbel;
	src: url(corbel.ttf);
}

@font-face {
	font-family: lato;
	src: url(lato.ttf);
}

body {
	background-image: url("assets/img/bg.png");
}

a {
	outline : none;
}

#header {
	display: block;
	position: fixed;
	width: 100%;
	height: 100px;
	line-height: 100px;
	top: 0px;
	margin-bottom: 30px;
	overflow: hidden;
	border-bottom: 5px solid #000000;
	background-color: #ffffff;
	font-family: lato;
	font-weight: bold;
	font-size: 42px;
	text-align: center;
	color: #000000;
	transition: height 0.5s, line-height 0.5s, color 0.5s, font-size 0.5s, background-color 0.5s, margin-bottom 0.5s;
	z-index: 1;
}

#header:hover {
	cursor: default;
	height: 125px;
	line-height: 125px;
	color: #ffffff;
	font-size: 48px;
	background-color: #1a75d3;
	margin-bottom: 5px;
}

#banner {
	display: block;
	width: 100%;
	height: 125px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	background: url("assets/img/vote.png") center no-repeat;
	opacity: 0.5;
	z-index: 2;
}

#lol {
	position: relative;
	z-index: 3;
}

#marseillepeucher {
	display: block;
	width: 420px;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 130px;
	margin-bottom: 30px;
}

#superintroduction {
	display: block;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	border-top: 5px solid #000000;
}

#supertitle {
	width: 100%;
	text-align: center;
	font-family: corbel;
	font-size: 80px;
	color: #ffffff;
}

#superintro {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	text-align: center;
	font-family: lato;
	font-size: 24px;
	color: #ffffff;
}

.liste {
	display: block;
	width: 800px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	background-color: #ffffff;
	border: 2px solid #000000;
	border-radius: 25px;	
	font-family: corbel;
	font-weight: bold;
	font-size: 32px;
	text-decoration: none;
}

.liste:hover {
	cursor: pointer;
	text-decoration: none;
}

.listeimg {
	display: inline-block;
	position: absolute;
	width: 50px;
	margin-left: 25px;
}

.listetexte {
	display: inline-block;
	position: absolute;
	width: 700px;
	height: 50px;
	text-align: right;
	line-height: 50px;
	margin-left: 75px;

}

.gurven {
	position: relative;
	z-index: 0;
	background-color: #396596;
	color: #ffffff;
	transition: background-color 0.5s, color 0.5s;
}

.gurven:hover {
	background-color: #f2341c;
	color: #ffffff;
}

.thomas {
	position: relative;
	z-index: 0;
	background-color: #002395;
	color: #ffffff;
	transition: background-color 0.5s, color 0.5s;
}

.thomas:hover {
	background-color: #ed2939;
	color: #ffffff;
}

.arthur {
	position: relative;
	z-index: 0;
	background-color: #1f6a0c;
	color: #ffffff;
	transition: background-color 0.5s, color 0.5s;
}

.arthur:hover {
	background-color: #3ccc17;
	color: #ffffff;
}

.lucas {
	position: relative;
	z-index: 0;
	background-color: #3c96b9;
	color: #ffffff;
	transition: background-color 0.5s, color 0.5s;
}

.lucas:hover {
	background-color: #e6a862;
	color: #ffffff;
}

.marine {
	position: relative;
	z-index: 0;
	background-color: #dbce59;
	color: #ffffff;
	transition: background-color 0.5s, color 0.5s;
}

.marine:hover {
	background-color: #fe6d9e;
	color: #ffffff;
}

.pierrick {
	position: relative;
	z-index: 0;
	background-color: #c26332;
	color: #ffffff;
	transition: background-color 0.5s, color 0.5s;
}

.pierrick:hover {
	background-color: #c31622;
	color: #ffffff;
}

.louise {
	position: relative;
	z-index: 0;
	background-color: #282828;
	color: #ffffff;
	transition: background-color 0.5s, color 0.5s;
}

.louise:hover {
	background-color: #050505;
	color: #ffffff;
}

.hugo {
	position: relative;
	z-index: 0;
	background-color: #a9221f;
	color: #ffffff;
	transition: background-color 0.5s, color 0.5s;
}

.hugo:hover {
	position: relative;
	z-index: 0;
	background-color: #dbaa59;
	color: #ffffff;
}

.jarod {
	position: relative;
	z-index: 0;
	background-color: #800080;
	color: #ffffff;
	transition: background-color 0.5s, color 0.5s;
}

.jarod:hover {
	background-color: #3a003a;
	color: #ffffff;
}

.thibo {
	position: relative;
	z-index: 0;
	background-color: #0065ca;
	color: #ffffff;
	transition: background-color 0.5s, color 0.5s;
}

.thibo:hover {
	background-color: #0088ff;
	color: #ffffff;
}

.charles {
	position: relative;
	z-index: 0;
	background-color: #ef7f01;
	color: #ffffff;
	transition: background-color 0.5s, color 0.5s;
}

.charles:hover {
	background-color: #6a9f53;
	color: #ffffff;
}

.meven {
	position: relative;
	z-index: 0;
	background-color: #ee1b22;
	color: #ffffff;
	transition: background-color 0.5s, color 0.5s;
	margin-bottom: 20px;
}

.meven:hover {
	background-color: #f1e426;
	color: #ffffff;
}

#mdr {
	display: inline-block;
	position: absolute;
	float: left;
	width: 80%;
	margin-top: 10px;
}

#saucisseintroduction {
	display: block;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	margin-top: 195px;
	border-top: 5px solid #000000;
	border-bottom: 5px solid #000000;
}

#saucisselien {
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-family: lato;
	font-size: 24px;
	text-decoration: none;
	color: #ffffff;
}

#saucisselien:hover {
	cursor: pointer;
	text-decoration: none;
}

#saucissetitre {
	display: block;
	width: 100%;
	text-align: center;
	font-family: corbel;
	font-size: 42px;
	color: #ffffff;
}

#saucisseintro {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 30px;
	text-align: center;
	font-family: lato;
	font-size: 18px;
	color: #ffffff;
}

#affiche {
	display: inline-block;
	width: 10%;
	margin-top: 10px;
	margin-left: 80%;
}