* {
	margin: 0px;
	padding: 0px;
}

body {
	background-image: url("saucisse.gif");
	background-color: black;
	background-size: 100%;
	color: #00ff00;
	font-family: "Courier";
}

input[type="text"] {
    font-family: "Courier";
	color: green;
	font-weight: bold;
	text-align: center;
}

.texte {
	display: block;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.buuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuut {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 28px;
	text-align: center;
	background-color: black;
	border: 1px dotted #ffffff;
}

.titre {
	font-size: 24px;
	font-family: "Comic Sans MS";
	margin-left: 20px;
}

.cumteneur {
	display: inline-block;
	position: relative;
	background-color: rgba(28, 9, 12, 0.5);
	border: 2px solid white;
	width: 330px;
}

.applebarn {
	display: block;
	margin-left: 40px;
	margin-right: 40px;
}

.facepalm {
	width: 250px;
	text-align: center;
}

.spairme {
	display: inline-block;
	position: absolute;
	background-color: rgba(28, 9, 12, 0.5);
	border: 2px solid white;
	width: 330px;
	margin-left: 332px;
}

#prout {
	color: white;
	font-size: 24px;
	font-family: "Comic Sans MS";
	font-weight: bold;
}

.vivelevent {
	color: rgba(20, 20, 20, 0.7);
	font-size: 20px;
	font-weight: bold;
	font-family: Arial;
	transition: color 0.4s, font-size 0.4s;
}

.vivelevent:hover {
	color: white;
	font-size: 26px;
	cursor: pointer;
}